<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.affwl.exchange">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndieActivity" />
        <activity
            android:name=".PivotActivity"
            android:label="@string/pivot"
            android:parentActivityName=".IndieActivity" />
        <activity
            android:name=".LiveTipsActivity"
            android:label="@string/live_tips"
            android:parentActivityName=".IndieActivity" />
        <activity
            android:name=".NewHiloActivity"
            android:label="New High Low" />
        <activity
            android:name=".MarketMoversEquityActivity"
            android:label="Market Movers" />
        <activity
            android:name=".MarketWatchActivity"
            android:label="Market Watch" />
        <activity
            android:name=".MarketIndicesActivity"
            android:label="Market" />
        <activity
            android:name=".MarketDerivativesActivity"
            android:label="Market" />
        <activity
            android:name=".MarketCurrencyActivity"
            android:label="Market" />
        <activity
            android:name=".ScripSearchActivity"
            android:label="Scrip Search" />
        <activity
            android:name=".NewsActivity"
            android:label="News" />
        <activity
            android:name=".binary.Sec60Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".binary.AssetNameActivity"
            android:parentActivityName=".binary.Sec60Activity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".binary.AssetListActivity" />
        <activity android:name=".binary.TradeActivity" />
        <activity android:name=".DrawerActivity" />
        <activity android:name=".FxActivity" />
        <activity android:name=".CustomSpinner" />
        <activity android:name=".Problem_Description" />
        <activity android:name=".Certificates" />
        <activity android:name=".New_Account" />
        <activity android:name=".Indicators" />
        <activity android:name=".Mailbox1" />
        <activity android:name=".Selected_symbols" />
        <activity android:name=".Add_symbol" />
        <activity android:name=".M_delete" />
        <activity android:name=".OneClickTrading"></activity>
    </application>

</manifest>